<div class='container'>
  <div class='text-center jumbotron'>
    <h1>Welcome to myRecipes App</h1>
    <h2>This is the home page for the Professional Ruby on Rails Developer Course on Udemy main project.</h2>
    <%= link_to "Sign Up Now!",  "", class: "btn btn-primary btn-lg" %>
  </div>
  
  <div class="row">
    
    <div class="col-md-4">
      <h3 class="midrow">
        View Recipes as Guest
      </h3>
      <p>Browse and view recipes as a guest and sign up later.</p>
      <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
    </div>
    
    <div class="col-md-4">
      <h3 class="midrow">
        View Recipes as Guest
      </h3>
      <p>Browse and view recipes as a guest and sign up later.</p>
      <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
    </div>
    
    <div class="col-md-4">
      <h3 class="midrow">
        View Recipes as Guest
      </h3>
      <p>Browse and view recipes as a guest and sign up later.</p>
      <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
    </div>

  </div>
</div>